<div id="session_{{id}}" class="session {{data.classes}}">
  <div class="session__time">
    <time datetime="{{data.when}}">{{formatTime data.when}}</time>
  </div>

  <div class="session__speakers speakers__{{data.speakers.length}}">
{{#each data.speakers}}
    <div class="speakers-image dino-{{counter 'dino' 4}}">
    {{#if this.photo_available}}
      <img src="static/images/speakers/{{this.ldap}}.jpg" width="64" height="64" alt="{{this.name}}" />
    {{/if}}
    </div>
{{/each}}

{{#ifCond id "break-after-party-0"}}
    <div class="speakers-image">
      <img src="static/images/icons/dino-red.gif" width="64" height="64" alt="Sergey" />
    </div>
    <div class="speakers-image">
      <img src="static/images/icons/dino-blue.gif" width="64" height="64" alt="Larry" />
    </div>
{{/ifCond}}
  </div>

  <div class="session__details">
    <a href="schedule/{{id}}">
      <h5>{{data.name}}</h5>
    </a>
    <div class="speakers">
      {{#each data.speakers}}
        <div class="role">
          <span class="speaker-name">{{this.name}}</span>, {{this.role}}{{#ifCond this.company "Google"}}{{else}}, {{this.company}}{{/ifCond}}
        </div>
      {{/each}}
    </div>
  </div>
</div>