<div id="session_{{id}}" class="session {{data.classes}}">
  <div class="session__time">
    <time datetime="{{data.when}}">{{formatTime data.when}}</time>
  </div>

  <div class="session__speakers speakers__{{data.speakers.length}}">
{{#each data.speakers}}
    <div class="session__speakers-image">
    {{#if this.photo_available}}
      <img src="static/images/speakers/{{this.ldap}}.jpg" width="64" height="64" alt="{{this.name}}" />
    {{else}}
      <img src="static/images/icons/{{this.dino}}" width="64" height="64" alt="Chrome Downasour" />
    {{/if}}
    </div>
{{/each}}
  </div>

  <div class="session__details">
    <h5>{{data.name}}</h5>
    <div class="speakers">
      {{#each data.speakers}}
        <div class="role">
          {{#if this.link}}
            <a href="{{this.link}}" target="_blank" rel="noopener"><span class="speaker-name">{{this.name}}</span></a>{{else}}
            <span class="speaker-name">{{this.name}}</span>{{/if}}, {{this.role}}
        </div>
      {{/each}}
    </div>
  </div>
</div>