<div id="session_{{id}}" class="session">
  <div class="session__speakers">
{{#each data.speakers}}
  <li>
    <img src="../static/images/icons/chrome-icon@192.png" width="64" height="64" />
    <div>
      {{#if this.link}}<a href="{{this.link}}" target="_blank" rel="noopener">{{this.name}}</a>{{else}}{{this.name}}{{/if}}
      <span class="role">{{this.role}}</span>
    </div>
  </li>
{{/each}}
  </div>
  <div class="session__time">
    <time datetime="{{data.when}}">{{formatTime data.when}}</time>
  </div>
  <div class="session__details">
    <h5>{{data.name}}</h5>
  </div>
</div>