{% macro masthead(is_partial=none, image=none, has_sitetitle=none, title=none, subtitle=none, mastheadimagetitle=none, is_expanded=none, youtubeId=none, youtubePlaylist=none, autoplay=none, video_name=none, is_live=False, has_divider=False) %}
{{ youtubeId }}
{% if youtubeId %}
<div class="youtube-video-player"{% if youtubeId %} data-youtube-id="{{ youtubeId }}"{% endif %}>
  {% if autoplay %}
  <iframe data-title="{{ video_name }}" class="youtube-video-player__thumb" src="https://www.youtube.com/embed/{{ youtubeId }}?autoplay=1" frameborder="0" allowfullscreen></iframe>
  {% elif youtubePlaylist %}
  <iframe data-title="{{ video_name }}" class="youtube-video-player__thumb" src="https://www.youtube.com/embed/videoseries?list={{ youtubeId }}" frameborder="0" allowfullscreen></iframe>
  {% else %}
  <a title="Play video of {{ video_name }}" class="youtube-video-player__thumb" href="https://www.youtube.com/watch?v={{ youtubeId }}">
    <img role="presentation" src="https://img.youtube.com/vi/{{ youtubeId }}/0.jpg" alt="{{ video_name }}">
  </a>
  {% endif %}
</div>
{% endif %}

{{ caller() }}

<div class="masthead{% if is_expanded %} expanded{% endif %}{% if is_live %} masthead--live{% endif %}">

  <h1 tabindex="-1" class="masthead__sitetitle"{% if not has_sitetitle %} aria-hidden="true"{% endif %}>{% if has_sitetitle %}Chrome Dev Summit <span class="masthead__sitetitle__small">2017</span>{% endif %}</h1>
  <h1 tabindex="-1" class="masthead__title"{% if not title %} aria-hidden="true"{% endif %}>{{ title }}</h1>
  <h2 tabindex="-1" class="masthead__subtitle"{% if not subtitle %} aria-hidden="true"{% endif %}>{{ subtitle }}</h2>
  <div class="masthead__cta">
    <a class="masthead__button" href="https://events.withgoogle.com/chrome-dev-summit-2017/registrations/new/">Register Now</a>
  </div>

  <div class="masthead__graphic-underlay">
    <svg width="100%" height="99.8%" preserveAspectRatio="xMidYMax slice" viewBox="0 0 1224 612">
      <g clip-path="url(#masthead-clip)" x="0" y="0">
        <rect fill="#222" width="100%" height="100%" />
      </g>
    </svg>
  </div>

  <div class="masthead__graphic" role="img" aria-label="Masthead Image: {{ mastheadimagetitle }}">
    <style>
      #masthead-image {
        background: url({{ image }}@1x.png) repeat-x;
        background-color: #fff;
        background-position: bottom;
        background-size: 720px;
        width: 100%;
        height: 100%;
      }

      @media (min-width: 1024px) {
        #masthead-image {
          background-size: 1080px;
        }
      }
    </style>
    <div id="masthead-image"></div>
  </div>
</div>
{% endmacro %}
