<meta property="og:type" content="website" >
<meta property="og:url" content="{{base_url}}/devsummit/{{url}}" >
<meta property="og:image" content="{{base_url}}/devsummit/static/images/header/chrome-logo-header.png" >
<meta property="og:image:width" content="96" >
<meta property="og:image:height" content="96" >
<meta property="og:title" content="Chrome Dev Summit 2016">
<meta property="og:description" content="Connect with Chrome engineers and other leading developers for a two-day exploration of building beautiful and performant experiences.">
<meta name="twitter:card" content="summary" >
<meta name="twitter:site" content="@ChromiumDev" >
<meta name="twitter:title" content="Chrome Dev Summit 2016" />
<meta name="twitter:description" content="Connect with Chrome engineers and other leading developers for a two-day exploration of building beautiful and performant experiences." />
<meta name="twitter:image" content="{{base_url}}/devsummit/static/images/header/chrome-logo-header.png" />
