{% extends "templates/base.html" %}
{% set mastheadimage="/devsummit/static/images/masthead/collage-masthead-blurred" %}
{% set mastheadimagetitle="A blurred collage of photos from Chrome Dev Summit 2015." %}
{% set pagestyles="static/styles/live.css" %}
{% set section="Live" %}
{% set youtubeId="sZlHd8okWdI" %}
{% set video_name="Chrome Dev Summit Live Stream" %}
{% set has_divider=True %}
{% set current_session=(sessions | get_current_session) %}
{% set next_session=(sessions | get_next_session) %}
{% set upcoming_sessions=(sessions | get_upcoming_sessions) %}
{% block content %}
  <section class="live-info">
    <div class="live-info__item live-info__item-current js-live-info-current"{% if not current_session %} aria-hidden="true"{% endif %}>
      <h2 class="live-info__section">
          {% if current_session %}
            Live Now
          {% endif %}
      </h2>
      <h3 class="live-info__title">
          {% if current_session.speaker %}
            {{ current_session.speaker }}:
          {% endif %}
          {{ current_session.name }}
      </h3>
      <p class="live-info__description">
        {{ current_session.description }}
      </p>
    </div>

    <div class="live-info__item live-info__item-next js-live-info-next"{% if not next_session %} aria-hidden="true"{% endif %}>
      <h2 class="live-info__section">
          {% if next_session["details"].name %}
            Up Next...
          {% endif %}
      </h2>
      <h3 class="live-info__title">
          {% if next_session["details"].speaker %}
            {{ next_session["details"].speaker }}:
          {% endif %}
          {{ next_session["details"].name }}
      </h3>
      <h4 class="live-info__time">
        {% if next_session["datetime"] %}
          {{ next_session["datetime"].strftime('%-H:%M %p PST') }}
        {% endif %}
      </h4>
      <p class="live-info__description">
        {{ next_session["details"].description }}
      </p>
    </div>
  </section>

  <section class="live-coming-up{% if not upcoming_sessions%} live-coming-up--empty{% endif %}"
    {% if not upcoming_sessions%} aria-hidden="true"{% endif %}>
    <h2 class="live-coming-up__title">Coming up</h2>

    <ol class="live-coming-up__list">
      {% for upcoming_session in upcoming_sessions %}
      <li class="live-coming-up__item">
        <time class="live-coming-up__item-time" datetime="">{{ upcoming_session["datetime"].strftime('%H%M') }}</time>
        <a class="live-coming-up__item-description">
          <h3 class="live-coming-up__item-title">{{ upcoming_session["details"].name }}</h3>
          {% if upcoming_session["details"].speaker %}
          <p class="live-coming-up__item-author">{{ upcoming_session["details"].speaker }}</p>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ol>
  </section>
{% endblock %}
