{% extends "templates/base.html" %}
{% set mastheadimage="/devsummit/static/images/masthead/location-masthead" %}
{% set mastheadimagetitle="Miner Auditorium at SF Jazz." %}
{% set mastheadtitle="Location" %}
{% set pagestyles="static/styles/location.css" %}
{% set section="Location" %}
{% block content %}
  <aside class="location-topline-info">
    <div class="location-topline-info__content">
      <p>This year we're going to be in the heart of San Francisco at the <a href="https://www.sfjazz.org/" target="_blank">SFJAZZ Center</a>.</p>
    </div>
  </aside>

  <section class="location-breakdown">
    <div class="location-breakdown__details">
      <div class="vcard">
        <div class="fn org">
          <strong class="organization-name">SFJAZZ Center</strong>
          <span class="street-address">201 Franklin Street</span>
          <span class="locality">San Francisco</span>
          <span class="postal-code">CA 94102</span>
        </div>
      </div>

      <p>Attendees can park at the venue using the numerous lots in and around the building.
      If you're coming by train, the closest BART Station is <a rel="noopener" target="_blank" href="http://www.bart.gov/stations/civc">Civic Center</a>,
      which is a few blocks away.</p>

      <p>If you're coming from further afield, the closest airport is SFO.</p>
    </div>
    <a class="location-breakdown__map" href="https://goo.gl/maps/3DdGhcDobPw" rel="noopener" target="_blank"></a>
  </section>

  <section class="location__event-updates">
    <section class="event-updates">
      <svg width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 100 100">
        <polygon x="0" y="0" fill="#222" points="0 70 100 100 0 100"></polygon>
      </svg>

      <p class="event-updates__register">Register for event notifications</p>
      <button data-id="event" class="notification-btn js-notification-btn" disabled hidden>
        <div class="notification-btn__inner notification-btn__inner--no-label"></div>
      </button>

      <a class="event-updates__livestream-form" href="https://services.google.com/fb/forms/cds2016/">
        <span>Watch Chrome Dev Summit from anywhere via livestream. Sign up for updates!</span>
      </a>
    </section>
  </section>
{% endblock %}
