{% extends "templates/base.html" %}
{% set mastheadimage="/devsummit/static/images/masthead/location-masthead-2017" %}
{% set mastheadtitle="Location" %}
{% set mastheadsubtitle="Yerba Buena Center for the Arts • San Francisco" %}
{% set footerbannerimage="/devsummit/static/images/footer-banner/location-banner" %}
{% set pagestyles="static/styles/location.css" %}
{% set section="Location" %}
{% block content %}
  <section class="location-breakdown">

    <section class="location-breakdown__address-and-public-transport">

      <section class="location-breakdown__address">
        <div class="vcard">
          <div class="fn org">
            <img class="location-icon" src="/devsummit/static/images/location/venue.svg" alt="Venue" width="66" height="70">
            <strong class="organization-name">Yerba Buena Center for the Arts</strong>
            <span class="street-address">701 Mission St</span>
            <span class="locality">San Francisco</span>
            <span class="postal-code">CA 94103</span>
          </div>
        </div>
      </section>

      <section class="location-breakdown__public-transport">
        <img class="location-icon" src="/devsummit/static/images/location/train.svg" alt="Public Transportation" width="82" height="89">
        <h2 class="location-breakdown__public-transport-title">Public Transport</h2>

        <p>The venue is easily accessible by public transportation, including:</p>
        <ul>
          <li>BART - <a href="http://www.bart.gov/stations/powl" target="_blank">Powell St.</a> and <a href="http://www.bart.gov/stations/mont" target="_blank">Montgomery St.</a> stations. For detailed directions, visit <a href="https://511.org/" target="_blank">511.org</a></li>
          <li>Muni - <a href="https://www.sfmta.com/maps/muni-metro-map" target="_blank">Powell St. and Montgomery St. stations</a></li>
          <li>Caltrain - <a href="http://www.caltrain.com/stations/sanfranciscostation.html" target="_blank">San Francisco station</a></li>
        </ul>
      </section>
    </section>

    <section class="location-breakdown__by-car-and-by-air">

      <section class="location-breakdown__by-car">
        <img class="location-icon" src="/devsummit/static/images/location/car.svg" alt="Parking" width="68" height="56">
        <h2 class="location-breakdown__by-car-title">By Car</h2>

        <p>Attendees who plan to drive can find nearby parking at:</p>
        <ul>
          <li>100 First Street - 100 1st Street</li>
          <li>City Park Parking Garage - 35 2nd Street</li>
          <li>Hearst Parking Center - 45 3rd Street</li>
          <li>Moscone Center Garage - 255 3rd Street</li>
        </ul>
      </section>

      <section class="location-breakdown__by-air">
        <img class="location-icon" src="/devsummit/static/images/location/plane.svg" alt="Flying" width="68" height="68">
        <h2 class="location-breakdown__by-air-title">By Air</h2>

        <p>If you're coming from further away, the closest airports are <a href="https://www.flysfo.com/">SFO</a> and <a href="http://www.oaklandairport.com/">OAK</a>.</p>
      </section>
    </section>
  </section>

  <section class="location-breakdown__map-container">
    <a class="location-breakdown__map" href="https://goo.gl/maps/vDMvmxUNQh22" rel="noopener" target="_blank"></a>
  </section>

  <section class="location-breakdown__additional-info">
    <section class="location-breakdown__additional-info-item">
      <h3>Nearby Hotels</h3>
      <ul>
        <li><a href="http://www.stregissanfrancisco.com/" target="_blank">St. Regis San Francisco</a> - .1 Miles</li>
        <li><a href="http://www.wsanfrancisco.com/?SWAQ=958P" target="_blank">W San Francisco</a> - 433 Feet</li>
        <li><a href="http://www.fourseasons.com/sanfrancisco/" target="_blank">Four Seasons Hotel</a> - .3 Miles</li>
        <li><a href="http://www.marriott.com/hotels/travel/sfodt-san-francisco-marriott-marquis/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2" target="_blank">San Francisco Marriott Marquis</a> - .3 Miles</li>
      </ul>
    </section>

    <section class="location-breakdown__additional-info-item">
      <h3>After Hours</h3>
      <p>Attendees are invited to an after party at the end of the first day, on October 23 from 6:00pm-10:00pm.</p>
    </section>

    <section class="location-breakdown__additional-info-item">
      <h3>Childcare</h3>
      <p>We’re excited to offer childcare at Chrome Dev Summit 2017! Contact us at <a href="mailto:chrome-dev-summit@google.com">chrome-dev-summit@google.com</a> to learn more. Please note that we have limited availability, but we will do our best to accommodate all requests.</p>
    </section>

    <section class="location-breakdown__additional-info-item">
      <h3>Prayer Room and Mother’s Room</h3>
      <p>We will have a prayer room and Mother’s Room available onsite throughout the event. If you are interested in utilizing these spaces, please ask any registration staff member when you check in to learn more.</p>
    </section>

    <section class="location-breakdown__additional-info-item">
      <h3>Accessibility Accommodations</h3>
      <p>If you have any accessibility accommodation needs, please let us know by emailing <a href="mailto:chrome-dev-summit@google.com">chrome-dev-summit@google.com</a>. We will provide live captioning services in the general sessions.</p>
    </section>
  </section>

{% endblock %}
