{% extends "templates/base.html" %}
{% set inline_styles=True %}
{% set mastheadimage="/devsummit/static/images/masthead/homepage-masthead-2017" %}
{% set mastheadhassitetitle=true %}
{% set mastheadtitle="October 23 & 24" %}
{% set youtubeId="PLNYkxOF6rcICUD5nBfRdAR6Fveosnqa5m" %}
{% set youtubePlaylist = true %}
{% set video_name="Chrome Dev Summit 2017" %}
{% set mastheadsubtitle="Yerba Buena Center for the Arts • San Francisco" %}
{% set footerbannerimage="/devsummit/static/images/footer-banner/homepage-banner" %}
{% set pagestyles="static/styles/home.css" %}
{% set section="Over" %}
{% block content %}
  <section class="home-cds-info">
    <div class="home-cds-info__content">
      <p class="home-cds-info__content--large">Connect with Chrome engineers and other leading developers for a
      two-day exploration of building beautiful and performant experiences on
      the web.</p>
      <p>We’ll be diving deep into shipping fast and modern Progressive Web
      Apps, as well as looking at the new and exciting features coming to the
      web platform.</p>
    </div>
  </section>

  <section class="home__ctas home__ctas--over">
    <a class="home__vods" href="https://services.google.com/fb/forms/CDS/">
      <h2>Livestream</h2>
      <h3>If you’re not able to join us in person, you can still join us on the livestream.</h3>
    </a>

    <a class="home__code-labs" href="https://codelabs.developers.google.com/?cat=Web">
      <h2>Code Labs</h2>
      <h3>Check out last year’s codelabs as a preview of what’s to come.</h3>
    </a>

    <svg class="home__cta-bg" width="100%" height="100%" role="presentation" preserveAspectRatio="none" viewBox="0 0 100 100">
      <g class="home__svg-home-bg-rect">
        <rect width="100%" height="50%" x="0" y="0" fill="#DD5044" />
        <rect width="100%" height="50%" x="0" y="50%" fill="#2196F3" />
        <rect class="home__cta-bg-underlay-left" width="100%" height="50%" x="0" y="0" fill="#000" />
        <rect class="home__cta-bg-underlay-right" width="100%" height="50%" x="0" y="50%" fill="#000" />
      </g>

      <g class="home__svg-home-bg-angled" clip-path="url(#home__cta-clip)">
        <rect width="50%" height="100%" x="0" y="0" fill="#DD5044" />
        <rect width="50%" height="100%" x="50%" y="0" fill="#2196F3" />
        <rect class="home__cta-bg-underlay-left" width="50%" height="100%" x="0" y="0" fill="#000" />
        <rect class="home__cta-bg-underlay-right" width="50%" height="100%" x="50%" y="0" fill="#000" />
      </g>
    </svg>
  </section>

  <section class="home__location">
    <a href="/devsummit/location">
      <h2>Location</h2>
      <h3>Yerba Buena Center for the Arts</h3>
    </a>
  </section>

{% endblock %}
