{% extends "templates/base.html" %}
{% set inline_styles=True %}
{% set mastheadimage="/devsummit/static/images/masthead/homepage-masthead" %}
{% set mastheadhassitetitle=true %}
{% set mastheadtitle="October 25 & 24" %}
{% set mastheadsubtitle="Yerba Buena Center for the Arts • San Francisco" %}
{% set mastheadimagetitle="Darin Fisher delivering the Keynote at Chrome Dev Summit 2015." %}
{% set footerbannerimage="/devsummit/static/images/footer-banner/homepage-banner" %}
{% set pagestyles="static/styles/home.css" %}
{% set section="Over" %}
{% block content %}
  <section class="home-cds-info">
    <div class="home-cds-info__content">
      <p>Connect with Chrome engineers and other leading developers for a two-day
      exploration of building beautiful and performant experiences.</p>
    </div>

  </section>

  <section class="home__ctas home__ctas--over">
    <a class="home__vods" href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIBTs2KPy1E6tIYaWoFcG3uj">
      <h2>Videos</h2>
      <h3>Watch the talks on YouTube</h3>
    </a>

    <a class="home__code-labs" href="https://codelabs.developers.google.com/">
      <h2>Code Labs</h2>
      <h3>Check out our step-by-step coding guides</h3>
    </a>

    <svg class="home__cta-bg" width="100%" height="100%" role="presentation" preserveAspectRatio="none" viewBox="0 0 100 100">
      <g class="home__svg-home-bg-rect">
        <rect width="100%" height="50%" x="0" y="0" fill="#DD5044" />
        <rect width="100%" height="50%" x="0" y="50%" fill="#2196F3" />
        <rect class="home__cta-bg-underlay-left" width="100%" height="50%" x="0" y="0" fill="#000" />
        <rect class="home__cta-bg-underlay-right" width="100%" height="50%" x="0" y="50%" fill="#000" />
      </g>

      <g class="home__svg-home-bg-angled" clip-path="url(#home__cta-clip)">
        <rect width="50%" height="100%" x="0" y="0" fill="#DD5044" />
        <rect width="50%" height="100%" x="50%" y="0" fill="#2196F3" />
        <rect class="home__cta-bg-underlay-left" width="50%" height="100%" x="0" y="0" fill="#000" />
        <rect class="home__cta-bg-underlay-right" width="50%" height="100%" x="50%" y="0" fill="#000" />
      </g>
    </svg>
  </section>

  <section class="home__location">
    <a href="/devsummit/location">
      <h2>Location</h2>
      <h3>Yerba Buena Center for the Arts</h3>
    </a>
  </section>

{% endblock %}
