{% extends "templates/base.html" %}
{% set mastheadimage="/devsummit/static/images/masthead/collage-masthead" %}
{% set mastheadimagetitle="A collage of photos from Chrome Dev Summit 2015." %}
{% set mastheadtitle="Schedule" %}
{% set pagestyles="static/styles/schedule.css" %}
{% set section="Schedule" %}
{% block content %}

  {% include "templates/includes/schedule-nav.partial.html" %}

  <div class="schedule-items">

    <section class="schedule-item" aria-label="8AM PST, Registration and Breakfast">
      <div class="schedule-item__speaker">
        <div class="schedule-item__speaker-image"></div>
        <div class="schedule-item__speaker-details">
          <h2>Speaker McSpeakerface</h2>
          <h3>Principal Software Engineer</h3>
        </div>
      </div>

      <div class="schedule-item__time">
        <time title="8AM PST" class="schedule-item__time-value" datetime="2016-11-10T08:00-08:00">0800</time>
      </div>

      <div class="schedule-item__details">
        <div class="schedule-item__details-inner">
          <h2 class="schedule-item__title">Registration and Breakfast</h2>
          <div class="schedule-item__description">
            <p>Proin aliquet nisl consequat mi auctor gravida. Maecenas cursus risus
            ultrices ligula iaculis, non fermentum magna lacinia.</p>
          </div>
        </div>
      </div>
    </section>

    <a class="schedule-item" href="/devsummit/schedule/sessions/session-1" aria-label="9AM PST. Alex Russell: Endless Economic Epithets">

      <div class="schedule-item__speaker">
        <div class="schedule-item__speaker-image"></div>
        <div class="schedule-item__speaker-details">
          <h2>Alex Russell</h2>
          <h3>Software Engineer</h3>
        </div>
      </div>

      <div class="schedule-item__time">
        <time title="9AM PST" class="schedule-item__time-value" datetime="2016-11-10T09:00-08:00">0900</time>
      </div>

      <div class="schedule-item__details">
        <div class="schedule-item__details-inner">
          <h2 class="schedule-item__title">Endless Economic Epithets</h2>
          <div class="schedule-item__description">
            <p>Alex gives an overview of why web apps don’t feel “appy” today, and shows how Service Worker is enabling a whole new world of appiness - beyond the simple goal of making web apps work offline, to building truly engaging web applications.</p>
          </div>
        </div>
      </div>
    </a>

    <a class="schedule-item" href="/devsummit/schedule/sessions/session-2" aria-label="10AM PST, Jake Archibald: A Million Ways to Argue Over Minutiae">

      <div class="schedule-item__speaker">
        <div class="schedule-item__speaker-image"></div>
        <div class="schedule-item__speaker-details">
          <h2>Jake Archibald</h2>
          <h3>Developer Advocate</h3>
        </div>
      </div>

      <div class="schedule-item__time">
        <time class="schedule-item__time-value" datetime="2016-11-10T10:00-08:00">1000</time>
      </div>

      <div class="schedule-item__details">
        <div class="schedule-item__details-inner">
          <h2 class="schedule-item__title">A Million Ways to Argue Over Minutiae</h2>
          <div class="schedule-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et velit consectetur, dignissim massa a, convallis arcu. Nulla sed leo sit amet lectus euismod venenatis in faucibus lorem. Aliquam erat volutpat. Donec luctus luctus dui non placerat. Suspendisse venenatis metus nisi, sit amet accumsan sapien placerat at. Vivamus rutrum sodales lectus et gravida. Nullam feugiat facilisis maximus. Praesent egestas nulla sed dolor facilisis, eu egestas lectus gravida.</p>
          </div>
        </div>
      </div>
    </a>
  </div>
{% endblock %}
