{% extends "templates/base.html" %}
{% set mastheadimage="/devsummit/static/images/masthead/collage-masthead" %}
{% set mastheadimagetitle="A collage of photos from Chrome Dev Summit 2015." %}
{% set session_info=(sessions | find_session(url)) %}

{% if session_info["youtubeId"] %}
  {% set mastheadimage="/devsummit/static/images/masthead/collage-masthead-blurred" %}
  {% set mastheadimagetitle="A blurred collage of photos from Chrome Dev Summit 2015." %}
{% endif %}

{% set youtubeId=session_info["youtubeId"] %}
{% set back_link="/devsummit/schedule" %}
{% if session_info["day_index"] == 2 %}
  {% set back_link="/devsummit/schedule/day-2" %}
{% endif %}

{% set pagestyles="static/styles/sessions.css" %}
{% set section="Session" %}
{% block content %}
  <div class="session{% if not youtubeId %} session--pre{% endif %}">
    <div class="session-info__back">
      <a href="{{ back_link }}" class="session-info__back-link">Back to Day {{ session_info["day_index"] }} Schedule</a>
    </div>

    <div class="session-info">

      <div class="session-speaker-info__image">
        <img src="{{ session_info["speakerImg"] }}" alt="{{ session_info["speaker"] }}">
      </div>
      <div class="session-breakdown">
        <h2 class="session-info__title">{{ session_info["name"] }}</h2>
        <h3 class="session-info__speaker">
            {{ session_info["speaker"] }}, {{ session_info["speakerRole"] }}
        </h3>

        <div class="session-info__description">
          <p>{{ session_info["description"] }}</p>
        </div>

        <button data-id="{{ session_info["url"] }}" class="notification-btn js-notification-btn" hidden disabled>Getting status...</button>
      </div>
    </div>
  </div>


{% endblock %}
