{% from "templates/includes/head.partial.html" import head %}
{% from "templates/includes/masthead.partial.html" import masthead %}

{% if is_live and youtubeId %}
  {% set is_live=False %}
{% endif %}

{% if youtubeId %}
  {% set mastheadexpanded=True %}
{% endif %}

{% call head(is_partial, pagestyles, section, inline_styles, is_live) %}{% endcall %}

{% call masthead(is_partial,
    mastheadimage,
    mastheadtitle,
    mastheadimagetitle,
    mastheadexpanded,
    youtubeId,
    autoplay,
    video_name,
    is_live,
    has_divider) %}
  {{ mastheadinfo }}
{% endcall %}

<section class="page-content section-{{ section | convert_to_class }}">
{% block content %}{% endblock %}
</section>

<cds-router></cds-router>

<script>

  // customElements.define('cds-router', class extends HTMLElement {
  //   constructor () {
  //     super();

  //     console.log('CDS Router');
  //   }

  //   connectedCallback () {
  //     console.log('CDS Router connected');
  //   }

  //   disconnectedCallback () {
  //     console.log('CDS Router disconnected');
  //   }
  // });

</script>

{% include "templates/includes/footer.partial.html" %}
