{% from "templates/includes/head.partial.html" import head %}
{% from "templates/includes/masthead.partial.html" import masthead %}

{% if is_live and youtubeId %}
  {% set is_live=False %}
{% endif %}

{% if youtubeId %}
  {% set mastheadexpanded=True %}
{% endif %}

{% call head(is_partial, pagestyles, section, inline_styles, is_live, base_url, url) %}{% endcall %}

{% call masthead(is_partial,
    mastheadimage,
    mastheadhassitetitle,
    mastheadtitle,
    mastheadsubtitle,
    mastheadimagetitle,
    mastheadexpanded,
    youtubeId,
    autoplay,
    video_name,
    is_live,
    has_divider) %}
  {{ mastheadinfo }}
{% endcall %}

<!-- Site version: {{ version }} -->
<section tabindex="-1" class="page-content section-{{ section | convert_to_class }}">
{% block content %}{% endblock %}
</section>

{% if debug %}
<section class="debug">
  <p>Debug push messages:</p>
  <button data-id="debug" class="notification-btn js-notification-btn" hidden disabled>
    <div class="notification-btn__inner">Getting status...</div>
  </button>
</section>
{% endif %}

<section class="footer-banner" id="footer-banner-image">
  <style>
    #footer-banner-image {
      background: url({{ footerbannerimage }}@1x.jpg) repeat-x;
      background-color: #fff;
      background-position: center center;
      background-size: cover;
    }
  </style>
  <div class="footer-banner__content">
    <img class="footer-banner__logo" src="/devsummit/static/images/header/chrome-logo-header.png" alt="Chrome Logo">
    <div class="footer-banner__divider"></div>
    <div class="footer-banner__title">
      Chrome<br>Dev Summit
      <br>
      <span class="footer-banner__title--small">2017</span>
    </div>
  </div>
</section>

{% include "templates/includes/footer.partial.html" %}
