@width-tiny: 424px;
@width-small: 600px;
@width-nav: 700px;
@width-normal: 864px;
@width-contentside-min: 340px;
@color-blue: #2196f3;
@color-header-hover: #1ea362;
@time-pagenav: 0.25s;

.default-focus() {
  outline: @color-blue auto 5px;
  outline: Highlight auto 5px;
  outline: -webkit-focus-ring-color auto 5px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 240px;  // KaiOS device
  box-sizing: border-box;
  position: relative;
  font-family: 'Open Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
  scroll-behavior: smooth;
  background: #fafafa;
  color: #616161;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;

  @media (max-width: @width-tiny - 1px) {
    font-size: 0.8em;
  }
}

a {
  color: @color-blue;
}

#outline {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;

  @media (max-width: @width-nav - 1px) {
    overflow-x: hidden;
    padding-top: 64px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grow {
  flex-grow: 1;
}

@import '_header.less';
@import '_footer.less';
@import '_cta.less';

.masthead {
  .masthead__image {
    height: 217px;
    width: 100%;

    transition: filter @time-pagenav ease-in-out;
    .fade & {
      filter: grayscale(1);
    }

    @size-masthead: 160px;
    @ratio: (@size-masthead / 217px);

    background: url(../images/header/masthead.svg) no-repeat center;
    background-size: (8000px * @ratio) @size-masthead;

    .sized-mixin(@size) {
      @v: @size * @ratio * 1px;
      @media (max-width: @v) {
        background-image: url("../images/header/masthead-@{size}.svg");
        background-size: @v @size-masthead;
      }
    }
    .sized-mixin(1400);
    .sized-mixin(900);
    .sized-mixin(700);
  }
}

main {
  display: flex;
  flex-flow: column;
  transition: opacity @time-pagenav ease-in-out;

  .fade & {
    opacity: 0;
  }
}

section {
  padding: 1em 0;
  margin: 0.5em 0;

  &.alt {
    background: #f2f2f2;
  }

  .section-register {
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    p {
      margin: 0;
      font-size: smaller;
      color: #888;
    }
  }

  .section-title {
    transition: transform @time-pagenav ease-in-out;
    will-change: transform;
    .fade & {
      transform: translateY(-32px);
    }

    h3,
    time {
      font-family: 'Product Sans', 'Open Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
      text-transform: lowercase;
      letter-spacing: 0.5px;
      font-weight: 400;
      display: block;

      span {
        font-size: smaller;
        color: #888;
      }
    }
    h3 {
      font-size: 1.5em;
    }
    p {
      font-family: 'Open Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
      font-size: smaller;
      color: #888;
    }
  }

  .content {
    @padding: 3em;
    max-width: @width-normal;
    box-sizing: border-box;
    padding: 0 @padding;
    margin: 0 auto;
    position: relative;
    color: #616161;
    font-weight: 300;

    strong {
      font-weight: 400;
    }

    ul {
      margin-left: 1.5em;
      li {
        margin-bottom: 0.25em;
      }
    }

    h4 {
      font-weight: 600;
    }

    .left,
    .right {
      margin-bottom: 4em;
    }

    @media (min-width: @width-nav) {
      .left,
      .right {
        @halfpad: (@padding / 2);  // otherwise we do extra division in calc
        width: calc(50% - @halfpad);
        position: relative;
      }
      .left {
        clear: left;
        float: left;
      }
      .right {
        clear: right;
        float: right;
      }
    }
    @media (max-width: @width-tiny - 1px) {
      padding: 0 8vw;
    }
  }

  // the car/building/etc extend forever effects
  .effect {
    width: 100%;
    position: relative;
    margin-bottom: 32px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100vw;
      background-repeat: no-repeat;
      background-position: bottom left;
    }
  }
  .left .effect::before {
    background-position: bottom right;
  }

  // overrides for L/R sides
  .left .effect::before {
    right: 0;
    transform-origin: right;
  }
  .right .effect::before {
    left: 0;
    transform-origin: left;
  }
}

// shared speakers' image
.speakers-image {
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(66, 66, 66, 0.75);
  background: white center no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
  }

  &.dino-0 {
    background-image: url(../images/icons/dino-blue.png);
  }
  &.dino-1 {
    background-image: url(../images/icons/dino-green.png);
  }
  &.dino-2 {
    background-image: url(../images/icons/dino-red.png);
  }
  &.dino-3 {
    background-image: url(../images/icons/dino-yellow.png);
  }
}

// "powered by the web" section
.section__tldr {
  text-align: center;

  h2 {
    font-family: 'Product Sans', 'Open Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
    text-transform: lowercase;
    font-size: 4em;
    line-height: 0.9;
    margin-bottom: 0.2em;
    font-weight: 400;

    span {
      display: inline-block;
    }

    em {
      font-style: normal;
      color: @color-blue;
    }
  }
}

// "left/right content" section
.section__points {
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;

  p {
    margin-bottom: 1.5em;
  }

  #effect-location {
    height: 165px;
    max-width: 231px;
    &::before {
      background-image: url(../images/lines/effect-location.svg);
    }
  }
  #effect-bycar {
    height: 100px;
    @media (min-width: @width-nav) {
      height: 165px;  // aligns with #effect-location
    }
    &::before {
      background-image: url(../images/lines/effect-bycar.svg);
    }
  }
  #effect-bypt {
    height: 82px;
    max-width: 260px;
    &::before {
      background-image: url(../images/lines/effect-bypt.svg);
    }
  }
  #effect-byair {
    height: 136px;
    &::before {
      background-image: url(../images/lines/effect-byair.svg);
    }
  }
}

// content
.section__content {
  p, h4, h5 {
    margin: 1em 0;
  }
}

// travel
.section__feat {
  background: #2196f3;
  position: relative;
  overflow: hidden;
  padding: 3em 0;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: -4px;
    right: 0;
    height: 4px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
  }

  .content {
    color: white;

    a {
      color: inherit;
    }
  }
}

// map
.section__map {
  @map-size: 640px;
  .content {
    background: #eee;
    overflow: hidden;
    background: white;
    max-width: @map-size;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    @media (max-width: @map-size) {
      border-radius: 0;
    }
  }
}

// links
.section__links {
  overflow: hidden;

  .link {
    margin-left: 5vw;
    padding-left: 160px;
    padding-top: 48px;
    padding-bottom: 24px;
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    position: relative;
    color: inherit;

    a {
      display: block;
      margin-left: -160px;
      padding-left: 160px;
      margin-bottom: -24px;
      padding-bottom: 24px;
      padding-top: 24px;
      margin-top: -24px;
      z-index: 1;
      text-decoration: none;
      color: inherit;

      &:hover {
        h4 {
          color: @color-header-hover;
        }
      }
    }

    h4 {
      font-family: 'Product Sans', 'Open Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
      font-size: 2em;
      text-transform: lowercase;
      letter-spacing: 0.5px;
      font-weight: 400;
    }
    p {
      margin-top: 0.5em;
      font-size: smaller;
      color: #888;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 5000px;  // matches SVG
      height: 106px;
      background: transparent no-repeat bottom left;
    }

    @media (max-width: @width-tiny - 1px) {
      margin-left: 0;
      padding-left: 100px;

      &::before {
        left: -40px;
        right: -40px;
      }
    }
  }

  #link-schedule {
    &::before {
      background-image: url(../images/lines/link-schedule.svg);
    }
  }
  #link-videos {
    &::before {
      background-image: url(../images/lines/link-videos.svg);
    }
  }
  #link-codelabs {
    &::before {
      background-image: url(../images/lines/link-codelabs.svg);
    }
  }
  #link-location {
    &::before {
      background-image: url(../images/lines/link-location.svg);
    }
  }
}

.section__gallery {
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;

    > div {
      position: relative;
      margin: 0 0.5em 1em;
      flex-basis: 30%;
      flex-grow: 1;

      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.footer-logo {
  display: flex;
  justify-content: center;

  img {
    padding: 24px 16px;
    max-width: 100%;
  }
}

.register-button {
  display: inline-block;
  border: 1px solid #616161;
  padding: 0.5em 1em;
  color: inherit;
  text-decoration: none;
  margin: 1em;

  &:hover {
    color: @color-header-hover;
    border-color: @color-header-hover;
  }
}

.section__schedule {
  h3 {
    color: @color-blue;
    font-size: 1.6em;

    font-family: 'Product Sans', 'Open Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
    text-transform: lowercase;
    margin: 0.4em 0 0.8em;
    font-weight: 400;
  }

  .session {
    display: flex;
    align-items: center;

    .session__details {
      flex-grow: 1;
      width: 100%;
    }

    @media (max-width: @width-small - 1px) {
      &:not(.break) {
        flex-wrap: wrap;
        margin-bottom: 12px;
      }
      .speakers-image {
        margin-right: 8px;
      }
    }

    .session__time {
      font-family: 'Product Sans', 'Open Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
      padding-right: 10px;
      font-weight: 400;
      width: 5ch;
      min-width: 5ch;
      text-align: left;
    }

    @speaker-size: 40px;
    @speaker-size-offset: (@speaker-size / 4);

    .session__speakers {
      display: flex;
      align-items: center;
      min-height: @speaker-size * 1.4;
    }

    .speakers-image {
      width: @speaker-size;
      min-width: @speaker-size;
      height: @speaker-size;
    }

    @media (min-width: @width-small) {
      // on large screens, align speaker heads weirdly.
      .session__speakers {
        margin-right: 20px;
        width: (@speaker-size * 2);
        min-width: (@speaker-size * 2);
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
        margin: -(@speaker-size / 4) 20px;
        margin-left: 0;

        // on large screens, align speaker heads weirdly.
        &:not(.speakers__1) {
          .speakers-image {
            margin-bottom: -(@speaker-size / 4);
          }
          .speakers-image:nth-child(2n+0) {
            margin-top: (@speaker-size / 2);
          }
          .speakers-image:nth-child(2n+1) {
            margin-top: -(@speaker-size / 2);
          }
        }
        &.speakers__1 {
          .speakers-image {
            width: @speaker-size * 1.2;
            min-width: @speaker-size * 1.2;
            height: @speaker-size * 1.2;
          }
        }
      }
    }

    .session__details {
      flex-grow: 1;
      padding: 10px 0;

      h5 {
        margin-top: 0;
        margin-bottom: 0.2em;
        font-size: 1em;
      }

      .role {
        font-size: 0.85em;
      }
    }
  }

  .session.break {
    background: @color-blue;
    color: white;
    margin: 8px -10px;
    padding: 0 10px;
    border-radius: 2px;

    a {
      color: inherit;
    }

    .session__speakers {
      display: none;
    }

    .session__details {
      text-align: center;

      h5 {
        margin: 0;
      }
    }
  }
}

#lightbox {
  background: rgba(0, 0, 0, 0.5);
  z-index: 102;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .grow {
    flex-grow: 1;
  }
  #popup {
    min-height: 550px;
    max-height: calc(100vh - 32px);
    width: 550px;
    max-width: calc(100vw - 32px);
    background: white;
    border-radius: 4px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    font-weight: 300;
    overflow: scroll;
    display: flex;
    flex-flow: column;

    @media (max-width: @width-small - 1px), (max-height: @width-small - 1px) {
      margin: 0;
      width: 100vw;
      height: 100vh;
      border-radius: 0;
      box-shadow: none;
    }

    p {
      margin: 1em 0;
    }

    h1 {
      font-family: 'Product Sans', 'Open Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
      letter-spacing: 0.5px;
      font-weight: 400;
      display: block;
      line-height: 1.2em;
      margin: 0 0 0.2em 0;
      background: #2196f3;
      padding: 16px 16px;
      color: white;
    }

    ul.speakers {
      list-style: none;
      color: #111;
      background: #f2f2f2;
      padding: 8px 16px;

      li {
        display: flex;
        align-items: center;
        font-weight: 400;

        .role {
          display: block;
          font-weight: 300;
        }

        .speaker-info {
          padding-left: 12px;
        }
      
        .speakers-image {
          width: 40px;
          min-width: 40px;
          height: 40px;
          margin: 5px 5px 5px 0;
        }

        @media (min-width: @width-small) {
          .speakers-image {
            width: 64px;
            min-width: 64px;
            height: 64px;
          }
        }
      }
    }
  }
  #popin {
    padding: 8px 16px;
  }

  time {
    font-family: 'Product Sans', 'Open Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
    display: block;

    .date-label {
      color: #616161;
      font-weight: 300;
      text-transform: lowercase;
    }
    .time-label {
      font-weight: 400;
      color: #212121;
    }
  }
}



