@width-tiny: 424px;
@width-small: 600px;
@width-nav: 700px;
@width-normal: 864px;
@color-blue: #2196f3;

.default-focus() {
  outline: @color-blue auto 5px;
  outline: Highlight auto 5px;
  outline: -webkit-focus-ring-color auto 5px;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 240px;  // KaiOS device
  position: relative;
  font-family: 'Open Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
  line-height: 1;
  scroll-behavior: smooth;
  background: #fafafa;
  color: #616161;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: @width-nav - 1px) {
    overflow-x: hidden;
  }
}

a {
  color: @color-blue;
}

#outline {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.grow {
  flex-grow: 1;
}

@import '_header.less';
@import '_footer.less';
@import '_cta.less';

.masthead {
  margin: 0 auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 100vw;

  svg {
    width: 720px;
    margin: 48px 0;
  }
}

section {
  .content {
    max-width: @width-normal;
    padding: 0 16px;
    margin: 0 auto;
  }
}

.masthead-logo {
  display: flex;
  justify-content: center;

  img {
    padding: 24px 16px;
    max-width: 100%;
  }
}